*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(201, 0, 43, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 49, 227, 1) 100%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-tx{
    color: white;
}
.header{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.main{
    flex-grow: 1;
   background-image: url(./img/lt\ pepsi.png);
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.garrafa{
    position: absolute;
    height: 85vh;
}
.frase{
    font-size: 40px;
    color: #5270DE;
    transform: translate(-220px);
    width: 200px;
    text-align: right;
}
.footer{    
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media(max-width:768px){
    body{
     padding: 20px;
    }
    .header{
        height: 40px;
    }
    .main{
        align-items: flex-start;
    }
    .garrafa{
        margin-top: 25px;
        height:40vh;
    }
    .frase{
        color: white;
        transform: translate(0);
        font-size:24px;
        text-align: center;
        width: 140px;
    }
}